<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SISTEMA WEB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Cadastrar</a>
              <a class="nav-link active" aria-current="page" href="/consultar">Consultar</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      &nbsp;
    </div>
    <p class="text-start fs-5">Editar - Agendamento de Potenciais Clientes</p>
    <p class="text-start fs-6">Sistema utilizado para agendamentos de serviços.</p>
    <div class="col">
      &nbsp;
    </div>
  </div>

  <form action="/editar" method="post">
    <input type="hidden" id="id" name="id" value="{{appointmentById.dataValues.id}}">
    
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" value="{{appointmentById.dataValues.nome}}">
    </div>

    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço:</label>
      <input type="text" class="form-control" id="endereco" name="endereco" value="{{appointmentById.dataValues.endereco}}">
    </div>

    <div class="mb-3">
      <label for="bairro" class="form-label">Bairro:</label>
      <input type="text" class="form-control" id="bairro" name="bairro" value="{{appointmentById.dataValues.bairro}}">
    </div>

    <div class="mb-3">
      <label for="cep" class="form-label">CEP:</label>
      <input type="text" class="form-control" id="cep" name="cep" value="{{appointmentById.dataValues.cep}}">
    </div>

    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade:</label>
      <input type="text" class="form-control" id="cidade" name="cidade" value="{{appointmentById.dataValues.cidade}}">
    </div>

    <div class="mb-3">
      <label for="estado" class="form-label">Estado:</label>
      <input type="text" class="form-control" id="estado" name="estado" value="{{appointmentById.dataValues.estado}}">
    </div>

    <div class="mb-3">
      <label for="observacao" class="form-label">Observação:</label>
      <textarea class="form-control" id="observacao" name="observacao" rows="3">{{appointmentById.dataValues.observacao}}</textarea>
    </div>

    <div class="row">
      <div class="col">
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        &nbsp;
      </div>
    </div>
  </form>
</div>
